<div class="page">
    <app-header></app-header>

    <body>
        <div class="search">
            <div class="search-title">AsiMovies</div>
            <div class="search-bar">
                <input type="text" placeholder="Pesquisar Filme..." class="search-input" [(ngModel)]="searchQuery"
                    (input)="filterMovies()">
                <button type="button" class="search-button" (click)="filterMovies()">🔍</button>
            </div>

            <button type="button" class="add-button" (click)="toggleAddMovieModal()">Adicionar Filme</button>
        </div>

        <div class="cards">
            <button type="button" class="scroll" (click)="showPrevious()"
                [ngClass]="{ 'disabled': currentOffset <= 0 }">
                &lt;
            </button>

            <div *ngFor="let movie of displayedMovies" class="card-flip">

                <div class="card-inner">

                    <!-- FRENTE -->
                    <div class="card-face card-front">

                        <div class="photo">
                            <img *ngIf="movie.photo_path; else fallback" [src]="movie.photo_path" />
                            <ng-template #fallback>
                                <img src="../../../assets/imgs/terror.jpg" />
                            </ng-template>
                        </div>

                        <div class="card-content">
                            <h2>{{ movie.name }}</h2>

                            <div class="rating">
                                <ng-container *ngFor="let star of [1,2,3,4,5]">
                                    <i class="fa-star" [class.fas]="star <= movie.rating"
                                        [class.far]="star > movie.rating">
                                    </i>
                                </ng-container>
                            </div>
                        </div>

                    </div>

                    <!-- VERSO -->
                    <div class="card-face card-back">

                        <h3>Análise</h3>

                        <p>
                            {{ movie.analysis }}
                        </p>

                        <div class="card-actions">

                            <button class="btn-delete" (click)="deleteMovie(movie.id)">
                                🗑 Excluir Filme
                            </button>

                            <button class="btn-edit" (click)="editMovie(movie)">
                                ✏️ Editar Filme
                            </button>

                        </div>

                    </div>

                </div>
            </div>


            <button type="button" class="scroll" (click)="showNext()"
                [ngClass]="{ 'disabled': currentOffset + limit >= movies.length }">
                &gt;
            </button>
        </div>


    </body>

    <app-footer></app-footer>

    <app-add-movie *ngIf="showAddMovieModal" [movie]="selectedMovie" (closeModal)="toggleAddMovieModal()">
    </app-add-movie>

</div>