<footer class="w-full bg-white border-t border-gray-100 py-6 mt-auto">

    <div class="container mx-auto flex flex-col items-center justify-center">

        <div class="flex items-center justify-center gap-6 sm:gap-8 mb-4">

            <a href="https://www.netflix.com" target="_blank" class="group relative">
                <div class="icon-circle">
                    <img src="../../../../assets/icons/netflix.png" alt="Netflix" class="icon-img">
                </div>
                <span class="tooltip">Netflix</span>
            </a>

            <a href="https://www.primevideo.com" target="_blank" class="group relative">
                <div class="icon-circle">
                    <img src="../../../../assets/icons/prime-video.png" alt="Prime Video" class="icon-img">
                </div>
                <span class="tooltip">Prime Video</span>
            </a>

            <a href="https://www.imdb.com/pt/" target="_blank" class="group relative">
                <div class="icon-circle">
                    <img src="../../../../assets/icons/imdb.png" alt="IMDB" class="icon-img">
                </div>
                <span class="tooltip">IMDB</span>
            </a>

            <a href="https://www.disneyplus.com" target="_blank" class="group relative">
                <div class="icon-circle">
                    <img src="../../../../assets/icons/disney.png" alt="Disney+" class="icon-img">
                </div>
                <span class="tooltip">Disney+</span>
            </a>

            <a href="https://auth.max.com/login" target="_blank" class="group relative">
                <div class="icon-circle">
                    <img src="../../../../assets/icons/hbo-max.svg" alt="Max" class="icon-img">
                </div>
                <span class="tooltip">HBO Max</span>
            </a>

        </div>

        <div class="text-center">
            <p class="text-xs text-gray-400 font-medium">
                © 2026 AsiMovies. Todos os direitos reservados.
            </p>
        </div>

    </div>
</footer>